@model OdeToFoodVisualStudio.Models.Restaurant

@{ 
    ViewBag.Title = Model.Name;
}

<h1>@Model.Name</h1>

<div>Id: @Model.Id</div>
<div>Cuisine: @Model.Cuisine</div>
@* VSRD: no completion or resolve for controller and action names in tag helpers in Visual Studio *@
<a asp-action="Index" asp-controller="Home">Home</a>