@* VSRD: Visual Studio doesn't suggest importing the Restaurant model when typing @model Restaurant, so you have to type in the FQN. Let's see what Rider can do here :) *@
@model OdeToFoodVisualStudio.Models.Restaurant

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    @* VSRD: Visual Studio doesn't seem to provide Extend/Shrink selection in cshtml editor *@
    <h1>@Model.Name</h1>
    <div>The ID value is @Model.Id</div>
</body>
</html>