<!DOCTYPE html>

<html>
<head>
    <title>@ViewBag.Title</title>
</head>
<body>
<div>
    @RenderBody()
</div>
<footer>
    @RenderSection("footer", required: false)
    @await Component.InvokeAsync("Greeter")
    <vc:greeter></vc:greeter>
</footer>
</body>
</html>