@using OdeToFoodRider.Models
@model OdeToFoodRider.Models.Restaurant

<!DOCTYPE html>

<html>
<head>
    <title>Add a Restaurant</title>
</head>
<body>
<h1>Create</h1>

<input asp-for="Name"/>

@*VSRD: Rider's code analysis bug in the asp-items expression below: RSRP-469518 *@
<select asp-for="Cuisine" asp-items="@Html.GetEnumSelectList<CuisineType>()"></select>

<input type="submit" name="save" value="Save"/>
<div>

</div>
</body>
</html>